@import "tailwindcss";


.background-gradient {
    background: radial-gradient(circle at center, #0B1020,#000000);
    background-attachment: fixed;
    background-size: cover;
}
html {
  scroll-behavior: smooth;
  direction: rtl; 
  font-family: "Noto Sans Arabic", sans-serif; 
  color: #fff;
}
.bubble-bg {
  background:#1c1e23 ;
  box-shadow:
    inset 0 0 80px 0px #ffffff40;
}
.english {
  font-family: "Poppins", sans-serif;
  direction: ltr;
}

@layer utilities {
  .text-brand-gradient {
    background: linear-gradient(to right, #8A38f5, #00c4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;
  }
}
@layer utilities {
  .bg-button-gradient {
    background: linear-gradient(to bottom, #8A38f5, #00c4ff);
    color: white; 
  }

  .bg-button-gradient:hover {
    background: linear-gradient(to bottom, #00c4ff, #8A38f5); 
  }
}
.back-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.back-btn img{
  width: 40px;
  height: 40px;
}